@using TaskManegmentProject.DBcontcion
@model  WorkSpace 
@{
	ViewData["Title"] = "Home Page";
	
	List<WorkSpace> myWorkSpacesList = (List<WorkSpace>)ViewData["workSpaceList"];
	List<Notification> myNotificationsList = (List<Notification>) ViewData["NotifcationsList"];

	ViewData["workSpaceId"] = Model.Id;
	ViewData["SelectedWorkSpace"] = Model;


}



	<input type="hidden" value="@Model.Id" id="work-space-id" />
	<div class="task-section-header card-header">

		<partial name="_SelectedListWorkSpace" model="@myWorkSpacesList" />


		<div class="header-controls">

			<partial name="_MembersDataWorkSpace"
					 model="@Model.Members" />


			<partial name="_NotificationSection" model="@myNotificationsList" />

		<a asp-controller="Task" asp-action="Add" asp-route-workSpaceId="@ViewBag.workSpaceId">
			<i class="fa fa-plus"></i>
				</a>

			<div class="mode-toggle-home">
			<button class="mode-btn" id="theme-toggle-btn" >
					<img src="~/img/icons/moon.svg" id="mode-icon" alt="Mode Svg" />
				</button>
			</div>

		</div>


	</div>

	<div class="task-section-content card-body">
		<div class="row">
		
			@if (Model == null  || Model.Tasks == null || !Model.Tasks.Any())
			{
				<div class="col-lg-3 col-md-6 col-sm-12 col-12  p-1">
					<button class="task-card task-add-button card ">
						No Taskes Added Yet
					</button>
				</div>
				

			}
			else
			{
				@foreach (var item in Model.Tasks)
				{
					<partial name="_TaskCard" model="@item" />
				}

			}
					
			
			<div class="col-lg-3 col-md-6 col-sm-12 col-12  p-1">
						<button class="task-card task-add-button card ">
							<i class="fa fa-plus"></i>Add New Task
						</button>
					</div>
		</div>
	</div>

	<partial name="_ChatBox" />

<script>

	function ToggleBTN(ids){
		$(`#${ids}`).toggleClass("active");
	}

</script>