@using TaskManegmentProject.DBcontcion

 @model MyTask


<div class="col-lg-3 col-md-6 col-sm-12 col-12  p-1">
	<div class="task-card card">
		<div class="task-card-content-container">
			<h3>@Model.Title</h3>
			<p>
				@Model.Description
			</p>
		</div>
		<div class="task-card-container">
			<h6>
				@Model.CreatedAt

			</h6>
			<div class="task-card-footer">

				@if (Model.Status == TaskManegmentProject.Enums.TaskStatus.Pending)
				{
					<button class="state-btn btn warning">
						@Model.Status
					</button>
				}
				else if (Model.Status == TaskManegmentProject.Enums.TaskStatus.InProgress)
				{
					<button class="state-btn btn danger">
						@Model.Status
					</button>
				}
				else
				{
					<button class="state-btn btn success">
						@Model.Status
					</button>
				}

				<div class="control-buttons">

					@if (Model.AssignTo != null && Model.AssignUser != null)
					{

						<div class="task-card-content-members" onclick="toggleMemberCard(this)">
							<div class="members-div">
								<img src="@(Model.AssignUser?.ImageUrl ?? "/img/avatar-images/avatar-2.jpeg")" alt="@Model.AssignUser?.Name ">
							</div>

							<div class="display-members">
								<ul class="members-list">
									<li>
										<img src="@(Model.AssignUser?.ImageUrl ?? "/img/avatar-images/avatar-2.jpeg")" alt="@Model.AssignUser?.Name ">
										<p>@Model.AssignUser?.Name </p>

									</li>

								</ul>
							</div>

						</div>
					}

					<a asp-controller="Task" asp-action="edit" asp-route-id="@Model.Id">
						<i class="fa fa-edit"></i>
					</a>
					<button>
						<i class="fa fa-trash"></i>
					</button>
				</div>
			</div>
		</div>
	</div>
</div>


<script>
	function toggleMemberCard(e){
		let el =e.querySelector(".display-members");
		if(el.classList.contains("active")){
		el.classList.remove("active");
		}else{
		closeAllDisplayMembers();
		el.classList.add("active");
		}
	}

	function closeAllDisplayMembers(){
		let allDiv  =document.querySelectorAll(".display-members");
		allDiv.forEach(item=>{
			item.classList.remove("active");
		});
	}

</script>